<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ui.preferences.PreferencePage"
            id="preferences.PreferencePage"
            name="PESTT">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ui.display.perspective.Perspective"
            fixed="false"
            icon="icons/PESTT.gif"
            id="PESTT.Perspective"
            name="PESTT">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="PESTT.Category"
            name="PESTT">
      </category>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewGraph"
            icon="icons/graph.gif"
            id="PESTT.ViewGraph"
            name="Graph"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewGraphCoverageCriteria"
            icon="icons/coverage.gif"
            id="PESTT.ViewGraphCoverageCriteria"
            name="Graph Coverage Criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewLogicCoverageCriteria"
            icon="icons/coverage.gif"
            id="PESTT.ViewLogicCoverageCriteria"
            name="Logic Coverage Criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewStructuralCriteria"
            icon="icons/results.gif"
            id="PESTT.ViewStructuralCoverage"
            name="Strutural Coverage Criteria"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="PESTT.Perspective">
         <view
               closeable="true"
               id="PESTT.ViewGraph"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewStructuralCoverage"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewGraphCoverageCriteria"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewLogicCoverageCriteria"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the PESTT Perspective."
            id="PESTT.Category"
            name="PESTT">
      </category>
      <command
            categoryId="PESTT.Category"
            description="Draw the graph."
            id="PESTT.DrawGraph"
            name="DrawGraph">
      </command>
      <category
            description="Commands related to the PESTT ViewGraph."
            id="PESTT.CategoryViewGraph"
            name="PESTTViewGraph">
      </category>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Show graph information to the selected layer."
            id="PESTT.Layers"
            name="Layers">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Layers selected"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="0">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Link editor with graph visualizer."
            id="PESTT.Link"
            name="Link">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="default"
                     value="false">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Refresh the graph."
            id="PESTT.Refresh"
            name="Refresh">
      </command>
      <category
            description="Commands related to the PESTT View Requirement Set"
            id="PESTT.CategoryViewStructuralCoverage"
            name="PESTTViewStructuralCoverageCategory">
      </category>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Adds a graph manually to the executed graphs."
            id="PESTT.AddGraphManually"
            name="Add Graph Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Remove a executed graph manually."
            id="PESTT.RemoveGraphManually"
            name="Remove Graph Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Adds a path manually to the test requirements."
            id="PESTT.AddPathManually"
            name="Add Path Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Remove a path manually from the test requireent."
            id="PESTT.RemovePathManually"
            name="Remove Path Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Status coverage."
            id="PESTT.RunCoverage"
            name="Run Coverage">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Type of graph tour"
            id="PESTT.Touring"
            name="Touring">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Tour select"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="TOUR">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Show test requirements"
            id="PESTT.TestRequirements"
            name="Show test requirements">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="icons/PESTT.gif"
               id="PESTT.Menu"
               label="PESTT"
               tooltip="PESTT Meni">
            <command
                  commandId="PESTT.DrawGraph"
                  icon="icons/graph.gif"
                  label="Draw Graph"
                  mnemonic="Alt+G"
                  style="push"
                  tooltip="Draw Graph">
            </command>
            <separator
                  name="PESTT.separator"
                  visible="true">
            </separator>
            <menu
                  label="Graph">
               <menu
                     icon="icons/layers.gif"
                     id="PESTT.LayersMenu"
                     label="Layers">
               </menu>
               <command
                     commandId="PESTT.Link"
                     icon="icons/link.gif"
                     label="Link"
                     mnemonic="Allt+I"
                     style="toggle"
                     tooltip="Show Instructions">
               </command>
               <command
                     commandId="PESTT.Refresh"
                     icon="icons/refresh.gif"
                     label="Refresh"
                     mnemonic="Ctrl+F5"
                     style="push"
                     tooltip="Refresh">
               </command>
            </menu>
            <menu
                  label="Test requirements">
               <command
                     commandId="PESTT.AddPathManually"
                     icon="icons/add_path.gif"
                     label="Add a new test requirement"
                     style="push"
                     tooltip="Add a new test requirement">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.RemovePathManually"
                     icon="icons/remove_path.gif"
                     label="Remove the selected test requirement"
                     style="push"
                     tooltip="Remove the selected test requirement">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.AddGraphManually"
                     icon="icons/add_graph.gif"
                     label="Add a new executed graph"
                     style="push"
                     tooltip="Add a new executed graph">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.RemoveGraphManually"
                     icon="icons/remove_graph.gif"
                     label="Remove the selected graph"
                     style="push"
                     tooltip="Remove the selected graph">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.RunCoverage"
                     icon="icons/run.gif"
                     label="Status"
                     mnemonic="Alt+S"
                     style="push"
                     tooltip="Show status coverage">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.Touring"
                     icon="icons/tour.gif"
                     label="Tour"
                     style="push"
                     tooltip="Type of touring to be aplied">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="PESTT.Tolbar"
               label="PESTT toolbar">
            <command
                  commandId="PESTT.DrawGraph"
                  icon="icons/graph.gif"
                  label="DrawGraph"
                  mnemonic="Alt+G"
                  style="push"
                  tooltip="Draw Graph">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="PESTT.Perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewGraph">
         <command
               commandId="PESTT.Layers"
               icon="icons/layers.gif"
               label="Layer"
               mnemonic="Allt+L"
               style="pulldown"
               tooltip="Show graph information to the selected layer.">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="NONE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.Link"
               icon="icons/link.gif"
               label="Link"
               mnemonic="Allt+I"
               style="toggle"
               tooltip="Link editor with graph visualizer.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.Refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               mnemonic="Ctrl+F5"
               style="push"
               tooltip="Refresh">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:PESTT.Layers?after=additions">
         <menu
               id="PESTT.LayersMenu"
               label="Layers Menu">
            <command
                  commandId="PESTT.Layers"
                  label="Empty"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="0">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Layers"
                  label="Guards"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="1">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewStructuralCoverage">
         <command
               commandId="PESTT.AddPathManually"
               icon="icons/add_path.gif"
               label="Add a new test requirement"
               style="push"
               tooltip="Add a new test requirement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.RemovePathManually"
               icon="icons/remove_path.gif"
               label="Remove the selected test requirement"
               style="push"
               tooltip="Remove the selected test requirement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PESTT.separator1"
               visible="true">
         </separator>
         <command
               commandId="PESTT.AddGraphManually"
               icon="icons/add_graph.gif"
               label="Add a new executed graph"
               style="push"
               tooltip="Add a new executed graph">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.RemoveGraphManually"
               icon="icons/remove_graph.gif"
               label="Remove the selected graph"
               style="push"
               tooltip="Remove the selected graph">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PESTT.separator2"
               visible="true">
         </separator>
         <command
               commandId="PESTT.TestRequirements"
               icon="icons/testrequirements.gif"
               label="Show test requirements"
               mnemonic="Alt+R"
               style="push"
               tooltip="Show test requirements">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.RunCoverage"
               icon="icons/run.gif"
               label="Status"
               mnemonic="Alt+S"
               style="push"
               tooltip="Show status coverage">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.Touring"
               icon="icons/tour.gif"
               label="Types of tour"
               mnemonic="Alt+T"
               style="pulldown"
               tooltip="Type of tour to be applied">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="NONE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:PESTT.Touring?after=additions">
         <menu
               id="PESTT.TouringMenu"
               label="Touring Menu">
            <command
                  commandId="PESTT.Touring"
                  label="Tour"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="TOUR">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Touring"
                  label="Tour with SideTrips"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="SIDETRIP">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Touring"
                  label="Tour with Detours"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="DETOUR">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PESTT.DrawGraph"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+G">
      </key>
      <key
            commandId="PESTT.Layers"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+L">
      </key>
      <key
            commandId="PESTT.Link"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+I">
      </key>
      <key
            commandId="PESTT.Refresh"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F5">
      </key>
      <key
            commandId="PESTT.RunCoverage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+S">
      </key>
      <key
            commandId="PESTT.TestRequirements"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+R">
      </key>
      <key
            commandId="PESTT.Touring"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ui.handler.DrawGraphHandler"
            commandId="PESTT.DrawGraph">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.LayerHandler"
            commandId="PESTT.Layers">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewGraph">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.LinkHandler"
            commandId="PESTT.Link">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewGraph">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RefreshHandler"
            commandId="PESTT.Refresh">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewGraph">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.TouringHandler"
            commandId="PESTT.Touring">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RunCoverageHandler"
            commandId="PESTT.RunCoverage">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.AddTestPathHandler"
            commandId="PESTT.AddGraphManually">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RemoveTestPathHandler"
            commandId="PESTT.RemoveGraphManually">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.AddTestRequirementHandler"
            commandId="PESTT.AddPathManually">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RemoveTestRequirementHandler"
            commandId="PESTT.RemovePathManually">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.TestRequirementsHandler"
            commandId="PESTT.TestRequirements">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="PESTT.ViewStructuralCoverage">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension id="PESTT.LinkMarker"
              name="Link Marker"
              point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
 </extension>
   <extension
         id="PESTT.FullCoverageMarker"
         name="Full Coverage Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="PESTT.NoCoverageMarker"
         name="No Coverage Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
 <extension
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="PESTT.LinkType"
             markerType="PESTT.LinkMarker">
         </type>
         <type
               markerType="PESTT.FullCoverageMarker"
               name="PESTT.FullCoverageType">
         </type>
         <type
               markerType="PESTT.NoCoverageMarker"
               name="PESTT.NoCoverageType">
         </type>
   </extension>
 <extension
       point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="PESTT.LinkType"
          colorPreferenceKey="linkcoverage_color"
          colorPreferenceValue="160,160,255"
          contributesToHeader="false"
          highlightPreferenceKey="linkcoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="linkcoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="linkcoverage_isGoToPreviousNavigationTargetKey"
          label="Link Coverage"
          overviewRulerPreferenceKey="linkcoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="linkcoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="linkcoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="linkcoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="linkcoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
    <specification
          annotationType="PESTT.FullCoverageType"
          colorPreferenceKey="fullcoverage_color"
          colorPreferenceValue="192,255,192"
          contributesToHeader="false"
          highlightPreferenceKey="fullcoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
          label="Full Coverage"
          overviewRulerPreferenceKey="fullcoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="fullcoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="fullcoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="fullcoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
    <specification
          annotationType="PESTT.NoCoverageType"
          colorPreferenceKey="nocoverage_color"
          colorPreferenceValue="255,160,160"
          contributesToHeader="false"
          highlightPreferenceKey="nocoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
          label="No Coverage"
          overviewRulerPreferenceKey="nocoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="nocoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="nocoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="nocoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
 </extension>
  </plugin>

