<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ui.preferences.PreferencePage"
            id="preferences.PreferencePage"
            name="PESTT">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ui.display.perspective.Perspective"
            fixed="false"
            icon="icons/PESTT.gif"
            id="PESTT.Perspective"
            name="PESTT">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="PESTT.Category"
            name="PESTT">
      </category>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewGraph"
            icon="icons/graph.gif"
            id="PESTT.ViewGraph"
            name="Graph"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewGraphCoverageCriteria"
            icon="icons/coverage.gif"
            id="PESTT.ViewGraphCoverageCriteria"
            name="Graph Coverage Criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewLogicCoverageCriteria"
            icon="icons/coverage.gif"
            id="PESTT.ViewLogicCoverageCriteria"
            name="Logic Coverage Criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewStructuralCriteria"
            icon="icons/results.gif"
            id="PESTT.ViewStructuralCoverage"
            name="Strutural Coverage Criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTT.Category"
            class="ui.display.views.ViewDataFlowCriteria"
            icon="icons/results.gif"
            id="PESTT.ViewDataFlowCoverage"
            name="Data Flow Coverage Criteria"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="PESTT.Perspective">
         <view
               closeable="true"
               id="PESTT.ViewGraph"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewGraphCoverageCriteria"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="PESTT.ViewGraph"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewLogicCoverageCriteria"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="PESTT.ViewGraph"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewStructuralCoverage"
               minimized="false"
               moveable="true"
               relationship="stack"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="PESTT.ViewDataFlowCoverage"
               minimized="false"
               moveable="true"
               relationship="stack"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the PESTT Perspective."
            id="PESTT.Category"
            name="PESTT">
      </category>
      <command
            categoryId="PESTT.Category"
            description="Draw the graph."
            id="PESTT.DrawGraph"
            name="DrawGraph">
      </command>
      <category
            description="Commands related to the PESTT ViewGraph."
            id="PESTT.CategoryViewGraph"
            name="PESTTViewGraph">
      </category>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Show graph information to the selected layer."
            id="PESTT.Layers"
            name="Layers">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Layers selected"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="0">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Link editor with graph visualizer."
            id="PESTT.Link"
            name="Link">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="default"
                     value="false">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewGraph"
            description="Refresh the graph."
            id="PESTT.Refresh"
            name="Refresh">
      </command>
      <category
            description="Commands related to the PESTT View Structural Coverage"
            id="PESTT.CategoryViewStructuralCoverage"
            name="PESTTViewStructuralCoverageCategory">
      </category>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Adds a new test path manually."
            id="PESTT.AddTestPathManually"
            name="Add Test Path Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Remove a test path manually."
            id="PESTT.RemoveTestPathManually"
            name="Remove Test Path Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Adds a new test requirement manually."
            id="PESTT.AddTestRequirementManually"
            name="Add Test Requirement Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Remove a test requirement manually."
            id="PESTT.RemoveTestRequirementManually"
            name="Remove Test Requirement Manually">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="The visit tour type"
            id="PESTT.Tours"
            name="Tour type">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Tour selected"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="TOUR">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Show test requirements"
            id="PESTT.TestRequirements"
            name="Show test requirements">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Show variable definitons and uses "
            id="PESTT.DefUses"
            name="Show variable definitons and uses ">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Def Uses view select"
            id="PESTT.DefUsesViewSelect"
            name="Def Uses view select">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Def Uses view select"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="NODEEDGE">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Refresh the structural coverage criteria graph."
            id="PESTT.RefreshStructuralCoverageCriteriaGraph"
            name="Refresh the structural coverage graph">
      </command>
      <category
            description="Commands related to the PESTT View Logic Coverage"
            id="PESTT.CategoryViewLogicCoverage"
            name="PESTTViewSLogicCoverageCategory">
      </category>
      <command
            categoryId="PESTT.CategoryViewLogicCoverage"
            description="Refresh the logic coverage criteria graph."
            id="PESTT.RefreshLogicCoverageCriteriaGraph"
            name="Refresh logic coverage graph">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Edit  the selected test path"
            id="PESTT.EditTestPath"
            name="Edit Test Path">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Edit  the selected test requirement"
            id="PESTT.EditTestRequirement"
            name="Edit Test Requirement">
      </command>
      <command
            categoryId="PESTT.CategoryViewStructuralCoverage"
            description="Find the necessary test paths"
            id="PESTT.GenerateTestPath"
            name="Find the necessary test paths">
      </command>
      <command
            categoryId="PESTT.Category"
            description="Export definitions to XML file."
            id="PESTT.ExportToXML"
            name="ExportToXML">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewGraphCoverageCriteria">
         <command
               commandId="PESTT.RefreshStructuralCoverageCriteriaGraph"
               icon="icons/refresh.gif"
               label="Refresh"
               mnemonic="Ctrl+O"
               style="push"
               tooltip="Refresh">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewLogicCoverageCriteria">
         <command
               commandId="PESTT.RefreshLogicCoverageCriteriaGraph"
               icon="icons/refresh.gif"
               label="Refresh"
               mnemonic="Alt+O"
               style="push"
               tooltip="Refresh">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="icons/PESTT.gif"
               id="PESTT.Menu"
               label="PESTT"
               tooltip="PESTT Meni">
            <command
                  commandId="PESTT.DrawGraph"
                  icon="icons/graph.gif"
                  label="Draw Graph"
                  mnemonic="Alt+G"
                  style="push"
                  tooltip="Draw Graph">
            </command>
            <separator
                  name="PESTT.separator"
                  visible="true">
            </separator>
            <menu
                  label="Graph">
               <menu
                     icon="icons/layers.gif"
                     id="PESTT.LayersMenu"
                     label="Layers">
               </menu>
               <command
                     commandId="PESTT.Link"
                     icon="icons/link.gif"
                     label="Link"
                     mnemonic="Allt+I"
                     style="toggle"
                     tooltip="Show Instructions">
               </command>
               <command
                     commandId="PESTT.Refresh"
                     icon="icons/refresh.gif"
                     label="Refresh"
                     mnemonic="Ctrl+F5"
                     style="push"
                     tooltip="Refresh">
               </command>
            </menu>
            <menu
                  label="Test requirements">
               <command
                     commandId="PESTT.AddTestRequirementManually"
                     icon="icons/add_requirement.gif"
                     label="Add a new test requirement"
                     style="push"
                     tooltip="Add a new test requirement">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.RemoveTestRequirementManually"
                     icon="icons/remove_requirement.gif"
                     label="Remove the selected test requirement"
                     style="push"
                     tooltip="Remove the selected test requirement">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.AddTestPathManually"
                     icon="icons/add_test.gif"
                     label="Add a new executed graph"
                     style="push"
                     tooltip="Add a new executed graph">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
               <command
                     commandId="PESTT.RemoveTestPathManually"
                     icon="icons/remove_test.gif"
                     label="Remove the selected graph"
                     style="push"
                     tooltip="Remove the selected graph">
                  <visibleWhen
                        checkEnabled="false">
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="PESTT.Perspective">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="PESTT.Tolbar"
               label="PESTT toolbar">
            <command
                  commandId="PESTT.DrawGraph"
                  icon="icons/graph.gif"
                  label="DrawGraph"
                  mnemonic="Alt+G"
                  style="push"
                  tooltip="Draw Graph">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="PESTT.Perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="PESTT.ExportToXML"
                  icon="icons/xml.gif"
                  label="ExportToXML"
                  mnemonic="Alt+X"
                  style="push"
                  tooltip="Export definitions to XML file">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="PESTT.Perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewGraph">
         <command
               commandId="PESTT.Layers"
               icon="icons/layers.gif"
               label="Layer"
               mnemonic="Allt+L"
               style="pulldown"
               tooltip="Show graph information to the selected layer.">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="NONE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.Link"
               icon="icons/link.gif"
               label="Link"
               mnemonic="Allt+I"
               style="toggle"
               tooltip="Link editor with graph visualizer.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.Refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               mnemonic="Ctrl+F5"
               style="push"
               tooltip="Refresh">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:PESTT.Layers?after=additions">
         <menu
               id="PESTT.LayersMenu"
               label="Layers Menu">
            <command
                  commandId="PESTT.Layers"
                  label="Empty"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="0">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Layers"
                  label="Guards (All)"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="2">
               </parameter>
            </command>
            <menu
                  label="Guards (Custom)">
               <command
                     commandId="PESTT.Layers"
                     label="True branches"
                     style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="3">
                  </parameter>
               </command>
               <command
                     commandId="PESTT.Layers"
                     label="False branches"
                     style="radio">
                  <parameter
                        name="org.eclipse.ui.commands.radioStateParameter"
                        value="4">
                  </parameter>
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewStructuralCoverage">
         <command
               commandId="PESTT.GenerateTestPath"
               icon="icons/find_test.gif"
               label="Find the necessary test paths"
               style="push"
               tooltip="Find the necessary test paths.">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PESTT.separator3"
               visible="true">
         </separator>
         <command
               commandId="PESTT.AddTestRequirementManually"
               icon="icons/add_requirement.gif"
               label="Add a new test requirement"
               style="push"
               tooltip="Add a new test requirement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.EditTestRequirement"
               icon="icons/edit.gif"
               label="Edit a test requirement"
               style="push"
               tooltip="Edit the selected test requirement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.RemoveTestRequirementManually"
               icon="icons/remove_requirement.gif"
               label="Remove the selected test requirement"
               style="push"
               tooltip="Remove the selected test requirement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PESTT.separator1"
               visible="true">
         </separator>
         <command
               commandId="PESTT.AddTestPathManually"
               icon="icons/add_test.gif"
               label="Add a new test path"
               style="push"
               tooltip="Add a new test path">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.EditTestPath"
               icon="icons/edit.gif"
               label="Edit a test path"
               style="push"
               tooltip="Edit the selected test path">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.RemoveTestPathManually"
               icon="icons/remove_test.gif"
               label="Remove the selected test path"
               style="push"
               tooltip="Remove the selected graph">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PESTT.separator2"
               visible="true">
         </separator>
         <command
               commandId="PESTT.Tours"
               icon="icons/tour.gif"
               label="Tours"
               mnemonic="Allt+T"
               style="pulldown"
               tooltip="The visit tour type">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="NONE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.TestRequirements"
               icon="icons/refresh.gif"
               label="Show test requirements"
               mnemonic="Alt+R"
               style="push"
               tooltip="Show test requirements">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:PESTT.Tours?after=additions">
         <menu
               id="PESTT.ToursMenu"
               label="Tours Menu">
            <command
                  commandId="PESTT.Tours"
                  label="Tour"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="TOUR">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Tours"
                  label="Sidetrip"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="SIDETRIP">
               </parameter>
            </command>
            <command
                  commandId="PESTT.Tours"
                  label="Detour"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="DETOUR">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:PESTT.ViewDataFlowCoverage">
         <command
               commandId="PESTT.DefUsesViewSelect"
               icon="icons/defuseview.gif"
               label="Def Uses View Select"
               style="pulldown"
               tooltip="Show graph information to the selected layer.">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="NONE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PESTT.DefUses"
               icon="icons/refresh.gif"
               label="Show variable definitons and uses "
               mnemonic="Alt+U"
               style="push"
               tooltip="Show variable definitons and uses ">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="PESTT.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:PESTT.DefUsesViewSelect?after=additions">
         <menu
               id="PESTT.DefUsesViewSelectMenu"
               label="Show by">
            <command
                  commandId="PESTT.DefUsesViewSelect"
                  label="Nodes and Edges"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="NODEEDGE">
               </parameter>
            </command>
            <command
                  commandId="PESTT.DefUsesViewSelect"
                  label="Variables"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="VARIABLE">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PESTT.DrawGraph"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+G">
      </key>
      <key
            commandId="PESTT.Layers"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+L">
      </key>
      <key
            commandId="PESTT.Link"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+I">
      </key>
      <key
            commandId="PESTT.Refresh"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F5">
      </key>
      <key
            commandId="PESTT.RefreshStructuralCoverageCriteriaGraph"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+O">
      </key>
      <key
            commandId="PESTT.RefreshLogicCoverageCriteriaGraph"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+O">
      </key>
      <key
            commandId="PESTT.TestRequirements"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+R">
      </key>
      <key
            commandId="PESTT.Tours"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+T">
      </key>
      <key
            commandId="PESTT.DefUses"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ui.handler.DrawGraphHandler"
            commandId="PESTT.DrawGraph">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.LayerHandler"
            commandId="PESTT.Layers">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.LinkHandler"
            commandId="PESTT.Link">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RefreshHandler"
            commandId="PESTT.Refresh">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.AddTestPathHandler"
            commandId="PESTT.AddTestPathManually">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RemoveTestPathHandler"
            commandId="PESTT.RemoveTestPathManually">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.AddTestRequirementHandler"
            commandId="PESTT.AddTestRequirementManually">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RemoveTestRequirementHandler"
            commandId="PESTT.RemoveTestRequirementManually">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.ToursHandler"
            commandId="PESTT.Tours">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.TestRequirementsHandler"
            commandId="PESTT.TestRequirements">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RefreshStructuralCriteriaGraphHandler"
            commandId="PESTT.RefreshStructuralCoverageCriteriaGraph">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.RefreshLogicCriteriaGraphHandler"
            commandId="PESTT.RefreshLogicCoverageCriteriaGraph">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.DefUsesHandler"
            commandId="PESTT.DefUses">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.DefUsesViewSelectHandler"
            commandId="PESTT.DefUsesViewSelect">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.EditTestPathHandler"
            commandId="PESTT.EditTestPath">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.EditTestRequirementHandler"
            commandId="PESTT.EditTestRequirement">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.GenerateTestPathHandler"
            commandId="PESTT.GenerateTestPath">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ui.handler.ExportToXMLHandler"
            commandId="PESTT.ExportToXML">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension id="PESTT.LinkMarker"
              name="Link Marker"
              point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
 </extension>
   <extension
         id="PESTT.FullCoverageMarker"
         name="Full Coverage Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="PESTT.NoCoverageMarker"
         name="No Coverage Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
 <extension
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="PESTT.LinkType"
             markerType="PESTT.LinkMarker">
         </type>
         <type
               markerType="PESTT.FullCoverageMarker"
               name="PESTT.FullCoverageType">
         </type>
         <type
               markerType="PESTT.NoCoverageMarker"
               name="PESTT.NoCoverageType">
         </type>
   </extension>
 <extension
       point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="PESTT.LinkType"
          colorPreferenceKey="linkcoverage_color"
          colorPreferenceValue="255, 255, 160"
          contributesToHeader="false"
          highlightPreferenceKey="linkcoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="linkcoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="linkcoverage_isGoToPreviousNavigationTargetKey"
          label="Link Coverage"
          overviewRulerPreferenceKey="linkcoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="linkcoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="linkcoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="linkcoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="linkcoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
    <specification
          annotationType="PESTT.FullCoverageType"
          colorPreferenceKey="fullcoverage_color"
          colorPreferenceValue="192, 255, 192"
          contributesToHeader="false"
          highlightPreferenceKey="fullcoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
          label="Full Coverage"
          overviewRulerPreferenceKey="fullcoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="fullcoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="fullcoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="fullcoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
    <specification
          annotationType="PESTT.NoCoverageType"
          colorPreferenceKey="nocoverage_color"
          colorPreferenceValue="255, 160, 160"
          contributesToHeader="false"
          highlightPreferenceKey="nocoverage_highlight"
          highlightPreferenceValue="true"
          includeOnPreferencePage="true"
          isGoToNextNavigationTarget="false"
          isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
          isGoToPreviousNavigationTarget="false"
          isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
          label="No Coverage"
          overviewRulerPreferenceKey="nocoverage_overviewRuler"
          overviewRulerPreferenceValue="false"
          presentationLayer="0"
          showInNextPrevDropdownToolbarAction="false"
          showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
          textPreferenceKey="nocoverage_text"
          textPreferenceValue="true"
          textStylePreferenceKey="nocoverage_stylePreferences"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="nocoverage_verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="domain.tests.execution.launch.JUnitLaunch"
          helpContextId="org.eclipse.jdt.junit.launch_shortcut"
          icon="icons/RunAs.gif"
          id="PESTT.JunitShortcut"
          label="PESTT - JUnit Test"
          modes="run, debug">
       <contextualLaunch>
          <enablement>
          		<with variable="selection">
					<count value="1">
					</count>
					<iterate>
						<adapt type="org.eclipse.jdt.core.IJavaElement">
							<test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
							<test property="org.eclipse.jdt.core.isInJavaProject"/>
							<test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
							<test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
						</adapt>
					</iterate>
               </with>
          </enablement>
       </contextualLaunch>
       <configurationType
             id="org.eclipse.jdt.junit.launchconfig">
       </configurationType>
       <description
             description="%DebugJUnitLaunchShortcut.description"
             mode="debug">
       </description>
       <description
             description="%RunJUnitLaunchShortcut.description"
             mode="run">
       </description>
    </shortcut>
 </extension>
  </plugin>
